<div class="row mt-5 mb-5">
    <div class="col-md-8 animated fadeIn">
        <img src={{img}} alt="New York" class="img-fluid">
    </div>
    <div class="col-md-4 animated zoomIn" id="weather-info">
        <div class="text-center">
            <h1>{{city}}</h1>
            <p>{{date}}</p>
            <h3>{{main}}</h3>
            <img src={{iconUrl}} alt="{{main}}">
            <h2>{{temp}} &deg;F</h2>
            <p>Humidity: {{humidity}}%</p>
            <p>Wind: {{wind}} miles/hour</p>
            <p>
                <i class="far fa-compass"></i>{{windDir}}</p>
        </div>
    </div>
</div>