<div class="row">
    <div class="col-md-8">
        <img src="../../assets/images/newyork1.jpg" alt="New York" class="img-fluid">
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h1>New York</h1>
            <h3>{{main}}</h3>
            <h2>Temp: {{temp}} &deg;F</h2>
            <p>Humidity: {{humidity}}%</p>
            <p>Wind: {{wind}} miles/hour</p>
            <p>{{windDir}}</p>
        </div>
    </div>
</div>